<div class="fieldset">
  <h4><%= t("decidim.system.models.organization.fields.via_oberta_settings") %></h4>
  <%= f.fields_for :via_oberta_settings do %>
    <div class="field">
      <%= f.text_field :ine %>
    </div>
    <div class="field">
      <%= f.text_field :municipal_code %>
    </div>
    <div class="field">
      <%= f.text_field :province_code %>
    </div>
  <% end %>
</div>
